<footer>
    <div class="container">
            <div class="row row-footer">

            <div class="col-lg-4 copyright col-md-4 col-sm-5">
               <p data-icon="false" ><a href="https://evostream.com/" data-icon="false" ><img src="images/width-200.png" alt="Company logo" /></a></p>
               &copy;2017 EvoStream Inc. All rights reserved. <br />

                </div> 
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <h3 class="widget-title">
                        <span>ABOUT US</span>
                    </h3>

                    <div class="menu">
                    <ul>
                        <li class="fa fa-linkedin"><a href="">Linkedln</a></li>
                        <li class="fa fa-twitter"><a href="">Twitter</a></li>
                        <li class="fa fa-lock"><a href="">Privacy Policy</a></li>
                        <li class="fa fa-book"><a href="">Glossary</a></li>
                    </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-4">
                   <h3 class="widget-title">
                        <span>CONTACT US</span>
                    </h3>

                    <div class="menu">
                    <ul>
                        <li class="fa fa-envelope-o"><a>salesupport@evostream.com</a></li>
                        <li class="fa fa-phone"><a href="">+1 858-454-9393</a></li>
                        <li class="fa fa-map-marker"><a>1010 Turquoise Street, Suite 101, San Diego, CA 92109, USA</a></li>                        
                    </ul>
                    </div>
                </div>





               
            </div>
    </div>
</footer>